node_modules/
.DS_Store
dist/
scripts/viabundus/results
scripts/viabundus/source-data
scripts/röykkiöiden-koot/source-data
scripts/röykkiöiden-koot/intermediate
scripts/röykkiöiden-koot/results
infra/museovirasto-map-data-server/data
infra/museovirasto-map-data-server/poc/.wrangler/
infra/museovirasto-map-data-server/poc/dist/
infra/museovirasto-map-data-server/poc/node_modules/
infra/muinaismuistot-worker/.wrangler/
infra/muinaismuistot-worker/node_modules/