html,
body,
#map {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#map {
  z-index: 10;
  position: absolute;
  left: 0px;
  top: 0px;
}

#loading-animation {
  z-index: 25;
  position: absolute;
  top: 15px;
  right: 20px;
}

.map-button {
  z-index: 15;
  position: absolute;
}

#map-button-zoom-in {
  top: 20px;
  left: 20px;
}

#map-button-zoom-out {
  top: 60px;
  left: 20px;
}

#map-button-position {
  top: 100px;
  left: 20px;
}

#map-button-search {
  top: 140px;
  left: 20px;
}

#map-button-info {
  top: 180px;
  left: 20px;
}

#map-button-settings {
  top: 220px;
  left: 20px;
}

.page {
  z-index: 20;
  position: absolute;
  top: 0px;
  background-color: #fff;
  height: 100%;
  width: 100%;
}

.pageHeader {
  margin-top: 10px;
  margin-bottom: 10px;
}

.pageHeaderText {
  font-size: 20px;
  font-weight: 500;
}

.pageContent {
  height: 90%;
  overflow-y: auto;
}

.page-right-visible {
  -webkit-transition: right 0.5s ease;
  -moz-transition: right 0.5s ease;
  -o-transition: right 0.5s ease;
  transition: right 0.5s ease;
  right: 0px;
}

.page-right-hidden {
  -webkit-transition: right 0.5s ease;
  -moz-transition: right 0.5s ease;
  -o-transition: right 0.5s ease;
  transition: right 0.5s ease;
  right: -100%;
}

@media (min-width: 768px) {
  .page {
  }
  .page-right-hidden {
  }
}

@media (min-width: 992px) {
  .page {
    width: 400px;
  }
  .page-right-hidden {
    right: -400px;
  }
}

.sub-layer-select-checkbox-container {
  margin-left: 20px;
}

.feature-collapse-panel-heading h6 {
  font-size: 14px;
  line-height: 1.3;
  margin-top: 5px;
  font-weight: 400;
}

.feature-collapse-panel-heading h6 img {
  margin-right: 5px;
}

.search-result-row img {
  margin-right: 5px;
}
