html,
body,
#map {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#map {
  z-index: 10;
  position: absolute;
  left: 0px;
  top: 0px;
}

#loading-animation {
  z-index: 25;
  position: absolute;
  top: 15px;
  right: 20px;
}

.map-button {
  z-index: 15;
  position: absolute;
}

#map-button-zoom-in {
  top: 20px;
  left: 20px;
}

#map-button-zoom-out {
  top: 60px;
  left: 20px;
}

#map-button-position {
  top: 100px;
  left: 20px;
}

#map-button-search {
  top: 140px;
  left: 20px;
}

#map-button-info {
  top: 180px;
  left: 20px;
}

#map-button-settings {
  top: 220px;
  left: 20px;
}

.page {
  z-index: 20;
  position: absolute;
  top: 0px;
  background-color: #fff;
  height: 100%;
  width: 100%;
}

.pageHeader {
  margin-top: 10px;
  margin-bottom: 10px;
}

.pageHeaderText {
  font-size: 20px;
  font-weight: 500;
}

.pageContent {
  height: 90%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.page-right-visible {
  -webkit-transition: right 0.5s ease;
  -moz-transition: right 0.5s ease;
  -o-transition: right 0.5s ease;
  transition: right 0.5s ease;
  right: 0px;
}

.page-right-closing {
  -webkit-transition: right 0.5s ease;
  -moz-transition: right 0.5s ease;
  -o-transition: right 0.5s ease;
  transition: right 0.5s ease;
  right: -100%;
}

.page-right-hidden {
  right: -100%;
  width: 0px;
}

@media (min-width: 768px) {
  .page {
  }
  .page-right-hidden {
  }
}

@media (min-width: 992px) {
  .page {
    width: 500px;
  }
  .page-right-closing {
    right: -500px;
  }
}

@media (min-width: 1200px) {
  .page {
    width: 600px;
  }
  .page-right-closing {
    right: -600px;
  }
}

@media (min-width: 1400px) {
  .page {
    width: 700px;
  }
  .page-right-closing {
    right: -700px;
  }
}

.sub-layer-select-checkbox-container {
  margin-left: 20px;
}

.feature-collapse-panel-heading h6 {
  font-size: 14px;
  line-height: 1.3;
  margin-top: 5px;
  font-weight: 400;
}

.feature-icon {
  margin-right: 5px;
}

.ol-scale-line {
  background: rgba(255, 255, 255, 0.9);
}

.ol-scale-line-inner {
  border: 2px solid black;
  border-top: none;
  color: black;
  font-size: 13px;
}
