<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Kulttuuriperinnön 3D-mallien tietokanta</title>
  </head>
  <body>
    <div id="root"></div>

    <!-- Cloudflare Web Analytics -->
    <script
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "382f860917b24c999c5d33204142ecf0"}'
    ></script>
    <!-- End Cloudflare Web Analytics -->
  </body>
</html>
